<div class="container">
  <%= render 'user/account_nav'%>
  <%= link_to t('defaults.back'), user_root_path, class: 'btn btn-light' %>
  <h1><%= t('defaults.edit',model: Profile.model_name.human)%></h1>
  <%= render 'form', profile: @profile, url: update_profile_path %>
</div>
