<div class="row">
  <div class="cold-md-6">
    <h1>New Product Variant</h1>
    <%= link_to 'Back', admin_product_variants_path, class: 'btn btn-light' %>
    <%= render 'form', variant: @variant, url: admin_product_variants_path %>
  </div>
</div>
