<h1>Editing Product Variant Option</h1>

<%= render 'form', product_variant_option: @product_variant_option %>

<%= link_to 'Show', @product_variant_option %> |
<%= link_to 'Back', product_variant_options_path %>
