<main class="main">
  <div class="page-content">
    <div class="cart">
      <div class="container">
        <%= render 'user/account_nav'%>
        <%= render 'form', order: @order %>
      </div>
    </div>
  </div>
</main>
