<ul class="nav">
  <li class="nav-item">
    <%= link_to t('defaults.account'), user_root_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to Order.model_name.human.pluralize, orders_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to Address.model_name.human.pluralize, addresses_path, class: 'nav-link' %>
  </li>
  <%# <li class="nav-item"> <%= link_to 'Prodile', profile_path, class: 'nav-link'  </li> %>
</ul>
