<ul class="nav">
  <li class="nav-item">
    <%= link_to 'Account', user_root_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Orders', orders_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Address', addresses_path, class: 'nav-link' %>
  </li>
  <%# <li class="nav-item"> <%= link_to 'Prodile', profile_path, class: 'nav-link'  </li> %>
</ul>
