<h1>Editing Product Variant Option Value</h1>

<%= render 'form', product_variant_option_value: @product_variant_option_value %>

<%= link_to 'Show', @product_variant_option_value %> |
<%= link_to 'Back', product_variant_option_values_path %>
