<div class="container">
  <%= render 'user/account_nav'%>
  <div class="row">
    <div class="col-md-6">
      <%= link_to 'Back', addresses_path, class: 'btn btn-light' %>
      <%= link_to 'Show', @address, class: 'btn btn-light' %>
      <h1>Editing Address</h1>
      <%= render 'form', address: @address %>
    </div>
  </div>
</div>
