<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>New Address</h1>
      <%= link_to 'Back', addresses_path, class: 'btn btn-light' %>
      <%= render 'form', address: @address %>
    </div>
  </div>
</div>
