<div class="row">
  <div class="cold-md-8">
    <h1>Editing Product</h1>
    <%= render 'form', product: @product, url: admin_products_path %>
    <%= link_to 'Show',  admin_product_path( @product ), class: 'btn btn-primary'%> |
    <%= link_to 'Back', admin_products_path, class: 'btn btn-primary' %>
  </div>
</div>
