<main class="main">
  <%= render 'layouts/pagetitle',title: t("defaults.categories") %>
  <div class="page-content">
    <div class="mb-2"></div>
    <div class="container">
      <div class="categories-page">
        <div class="container-fluid">
          <div class="row">
            <% @categories.each do |category| %>
              <div class="col-lg-4">
                <%= render 'categories/category_card', category: category, width:400, height: 800%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
