<main class="main">
  <div class="mb-lg-2"></div>
  <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
    <div class="container-fluid">
      <h1 class="page-title">Fullwidth No Sidebar<span>Shop</span></h1>
    </div>
    <!-- End .container-fluid -->
  </div>
</div>
