<main class="main">
  <%= render 'layouts/pagetitle',title: t("defaults.products") %>
  <div class="page-content">
    <div class="container">
      <div class="products justify-content-center">
        <div class="row">
          <% @subcategory.products.each do |product| %>
            <div class="col-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
              <%= render 'products/card', product: product %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
