<nav aria-label="breadcrumb" class="breadcrumb-nav breadcrumb-with-filter">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= title %></li>
    </ol>
  </div>
</nav>
